<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="dist/css/bootstrap.css.map" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="jquery-ui-1.11.4/jquery-ui.css"/>

<script src="jquery-ui-1.11.4/jquery-ui.js"></script>

<title>Untitled Document</title>
</head>

<body>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Profesionistas</legend>
<div class="form-group">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <p>&nbsp;</p>
    <p>Listado de profesionistas</p>
  </div>

  <table class="table">
     <tr>
    <th scope="col">Nombre  </th>
    <th scope="col">Apellido    </th>
    <th scope="col">Profesión     </th>
    <th scope="col">Especialidad</th>
    <th scope="col">Registro </th>
    <th scope="col">Domicilio    </th>
    <th scope="col">Telefono   </th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </table>
  <br>
  
  
  <!-- Button -->
<div class="form-group" align="right">
  <label class="col-md-4 control-label" for="agregar"></label>
  <div class="col-md-4">
    <button id="agregar" name="agregar" class="btn btn-primary">Agregar nuevo</button>
  </div>
</div>
</div>

</div>
</fieldset>
</form>

</body>
</html>
